name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version-file: go.mod

      - name: Pull Docker images for tests
        run: |
          docker pull alpine:latest
          docker pull nginx:latest
          docker pull gcr.io/distroless/static-debian12:latest

      - name: Run tests
        run: go test -v -timeout 10m ./...

      - name: Run linters
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest

      - name: Build binary
        run: go build
